*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  height: 100vh;
  background-color: white;
  /* overflow: hidden; */
}
body{
  width: 100%;
  height: 100vh;
  background-color: white;

}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ and Edge */
}

/* Optional: ensure smooth scrolling on iOS and make element scrollable */
.scrollbar-hide {
  -webkit-overflow-scrolling: touch;
}